@import "baseheader.css";
@import "top-nav.css";

body {
  display: grid;
  grid-template-columns: 1fr min(
      var(--content-max-width),
      calc(100dvh - (2 * var(--gap)))
    ) 1fr;
  grid-template-areas:
    ". header-title header-title"
    ". top-nav top-nav"
    ". main-content ."
    "filler footer-nav .";
  grid-template-rows: auto auto 1fr auto;
  min-height: 100vh;
  align-items: start;

  color-scheme: light dark;
  background-color: light-dark(var(--color-rose-1), var(--color-cerulean-6));
  color: light-dark(var(--color-cerulean-6), var(--color-rose-1));

  padding: var(--vt-gap);
}
main {
  grid-area: main-content;
}
