:root {
  font-family: Inter, sans-serif;
  font-feature-settings: "liga" 1, "calt" 1; /* fix for Chrome */
  font-size: calc(var(--vt-grid) / 8 * 17.5);
  line-height: calc(var(--vt-grid) * 3); /* 24px */
}
h1,
h2,
h3,
h4 {
  font-family: Lato, Inter, sans-serif;
  color: light-dark(var(--color-rose-4), var(--color-rose-3));
  margin: 0;
  padding: 0;
}
h1,
.heading1 {
  font-size: calc(var(--vt-grid) / 8 * 119.94) /* 119.94px */;
  font-weight: 400;
  line-height: calc(var(--vt-grid) * 16); /* 128px */
}
h2,
.heading2 {
  font-size: calc(var(--vt-grid) / 8 * 74.13) /* 74.13px */;
  font-weight: 600;
  line-height: calc(var(--vt-grid) * 10); /* 80px */
}
h3,
.heading3 {
  font-size: calc(var(--vt-grid) / 8 * 45.81) /* 45.81px */;
  font-weight: 900;
  line-height: calc(var(--vt-grid) * 6); /* 48px */
}
h4,
.heading4,
.subtitle {
  font-size: calc(var(--vt-grid) / 8 * 28.32) /* 28.32px */;
  font-weight: 900;
  margin: 0;
  padding: 0;
  line-height: calc(var(--vt-grid) * 4); /* 32px */
}
.subtitle {
  font-weight: 200;
}
p, ol, ul, li {
  font-size: calc(var(--vt-grid) / 8 * 17.5) /* 17.5px */;
  line-height: calc(var(--vt-grid) * 3); /* 24px */
}
li {
  margin-bottom: var(--vt-grid);
}
