---
import BaseHeader from "@components/base/BaseHeader.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <BaseHeader slot="header" title="Ville Takanen" description="Random thoughts on #tech, #leadership, and #life."/>
  <article>
	<h1>Ville Takanen</h1>
	<p class="subtitle">Random thoughts on #tech, #leadership, and #life.</p>
	<h3>Static (ğ‘‡)</h3>
	<ol>
	  <li>Any system complex enough to be gamed is either fun, or broken. Likely both.</li>
		<li>Efficient is the enemy of effective.</li>
	</ol>
  </article>
</Layout>
