---
import BaseHeader from "@components/base/BaseHeader.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <BaseHeader slot="header" title="Ville Takanen" description="Random thoughts on #tech, #leadership, and #life."/>
  <article>
    <h1>Static (ğ‘‡)</h1>
  <div style="width:128px; color: red">
    <vt-icon></vt-icon>
  </div>
	<ol>
	  <li>Any system complex enough to be gamed is either fun, or broken. Likely both.</li>
	  <li>Efficient is the enemy of effective.</li>
	</ol>
  </article>
</Layout>
