<footer id="footer-info">
  <section class="credits">
    <p class="heading4"><span class="subtitle">©</span><br>
        2023 – 2025 <span class="subtitle">Ville Takanen.</span><br>
        All rights reserved.</p>
  </section>
  <section class="extras">
    <a href="https://www.villetakanen.com/rss.xml" class="subtitle">RSS</a>
    <a href="https://www.villetakanen.com/.well-known/webfinger?@self@villetakanen.com" class="subtitle">WebFinger</a>
    <p>This site is built with Astro and hosted in Netlify. Netlify collects anonymous usage info, as described in https://www.netlify.com/gdpr-ccpa/</p>
  </section>
</footer>