<nav id="footer-nav" class="page-navigation">
    <ul>
      <li>
        <a href="/blog">Blog</a>
        <ul>
            <li>
              <a href="/topics/tech">Tech</a>
            </li>
            <li>
              <a href="/topics/leadership">Leadership</a>
            </li>
            <li>
              <a href="/topics/code">Code</a>
            </li>
            <li>
              <a href="/topics/games">Games</a>
            </li>
        </ul>
      </li>
      <li>
          <a href="/sundry">Sundry</a>
      </li>
      <li>
        <a href="/about">About</a>
      </li>
    </ul>
</nav>