<nav id="top-nav">
  <ul>
    <li>
      <a href="/blog">Blog</a>
    </li>
    <li>
        <a href="/sundry">Sundry</a>
    </li>
    <li>
      <a href="/about">About</a>
    </li>
  </ul>
  <ul>
    <li>
      <a href="https://mementomori.social/@villetakanen">
        <vt-icon icon="mastodon"></vt-icon>
      </a>
    </a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/vtakanen/">
        <vt-icon icon="linkedin"></vt-icon>
      </a>
    </li>
    <li>
      <a href="https://github.com/villetakanen">
        <vt-icon icon="github"></vt-icon>
      </a>
    </li>
    <li>
        <a href="https://bsky.app/profile/villetakanen.com">
          <vt-icon icon="bsky"></vt-icon>
        </a>
    </li>
  </ul>
</nav>