---
import BaseHead from "@components/base/BaseHead.astro";
import FooterInfo from "@components/base/Footer.astro";
import FooterNav from "@components/base/FooterNav.astro";
import TopNav from "@components/base/TopNav.astro";
---
<!doctype html>
<html lang="en">
  <head>
	<BaseHead />
  </head>
  <body>
	<slot name="header" />
  <TopNav />
	<main>
	  <slot />
  </main>
  <FooterNav />
  <FooterInfo />
  </body>
</html>
