---
import BaseHead from "@components/base/BaseHead.astro";
---
<!doctype html>
<html lang="en">
  <head>
	<BaseHead />
  </head>
  <body>
	<slot name="header" />
	<main>
	  <slot />
    </main>
  </body>
</html>
